<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Paginate The API</title>

	<!---------------------------------- Bootstrap CSS -------------------------------->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<!---------------------------------- Local Styles -------------------------------->
	<link rel="stylesheet" href="./css/styles.css">
	<!---------------------------------- Bootstrap JS -------------------------------->
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	<!---------------------------------- Local Scripts -------------------------------->
	<script src="./js/script.js" defer></script>

</head>

<body class="m-0 pt-5 pb-3">

	<div class="card mx-auto mw-100 bg-dark text-white align-items-center text-center">

		<header class="card-header align-self-end p-4 border-0">
			<nav class="navbar p-0">
				<a class="nav-link py-0 pe-0" href="https://github.com/sapinder-pal">Github</a>
				<a class="nav-link py-0 pe-0" href="https://instagram.com/sapinder101">Instagram</a>
				<a class="nav-link py-0 pe-0" href="https://sapinder101.medium.com">Medium</a>
			</nav>
		</header>
		
		<div class="card-body p-4 pb-0">
			<h1 class="card-title mb-5">Paginate The API</h1>
			
			<%- include('form') %>
			<%- include('info') %>
		</div>

		<footer class="card-footer p-4 pt-0 border-0">
			<nav class="navbar p-0">
				<a class="nav-link py-0 pe-0" href="https://github.com/sapinder-pal">Github</a>
				<a class="nav-link py-0 pe-0" href="https://instagram.com/sapinder101">Instagram</a>
				<a class="nav-link py-0 pe-0" href="https://sapinder101.medium.com">Medium</a>
			</nav>
		</header>

	</div>

</body>
</html>